/* src/components/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0; /* Или другой цвет */
    position: sticky;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
  }

  .hidden {
    transform: translateY(-100%); /* Скрываем хедер за верхнюю границу */
  }
  
  .logoContainer {
      /* Стили для контейнера логотипа */
  }
  
  .logo {
    height: 90px;
  }
  
  .navigation {
    /* Стили для навигации */
    display: flex;
  }
  
  .navLink {
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
      &:hover {
          text-decoration: underline;
      }
  }
  
  .userActions {
     /* Стили для блока действий пользователя */
  }
  
  .userButton {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bff; /* Или другой цвет */
    color: white;
    cursor: pointer;
    border-radius: 0.25rem;
  }