/* components/UsefulBlock.module.css */
.section {
    padding: 20px;
    
}

.title {
    /* Стили для заголовка */
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  /* Стили для карточки */
  background-color: var(--color-secondary-light-cyan);
  background-size: cover;
  padding: 1rem;
  color: white; /* Или другой цвет текста */
  border-radius: 0.5rem;
  width: 500px;
  margin: 10px;
  background-size: 40%; /* Масштабирует изображение, чтобы оно полностью покрывало карточку */
  background-position: right; /* Центрирует изображение */
  background-repeat: no-repeat; /* Не повторяет изображение */
  /* Добавьте следующие свойства: */
  overflow: hidden; /* Обрезает все, что выходит за границы карточки */
}

.cardTop {
  /* Стили для верхней части карточки */

}

.cardTitle {
  /* Стили для заголовка карточки */margin: 10px;

}

.cardContent {
  /* Стили для контента карточки */margin: 10px;
}