.main{
    /* background-color: #242424; */
}

.Block{
    margin: 10px;
    border-radius: 10px;
    border: 10px;
    border-color: aqua;
    border: 1px solid var(--color-secondary-cyan);
    overflow: hidden;
}