/* src/components/HeroSection.module.css */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Или center, если хотите центрировать контент */
    height: 400px; 
    background-color: #f0f0f0;
    padding: 2rem;
  }
  
  .heroContent {
    /* Стили для текста и кнопки */
    color: #333;
  }
  .heroImage {
    max-height: 100%;
    height: auto;
  
  }
  .heroButton {
      /* Стили для кнопки */
  }